<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Create question</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1>Create new question</h1>
  <form action=<%= test_questions_path(params[:test_id]) %> method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <p>
      <label for="question-body">Question:</label>
      <input type="text" name="question[body]" id="question-body">
    </p>
    <input type="submit" value="Create">
  </form>
</body>
</html>
