<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <table class="table table-bordered">
      <tr>
        <th><h3><%= t('.user_badges') %></h3></th>
        <th><h3><%= t('.available_badges') %></h3></th>
      </tr>
      <tr>
        <th><%= render @user_badges %></th>
        <th><%= render @available_badges %></th>
      </tr>
    </table>
  </div>
</div>
