<h1>The <%= @test_pasage.test.title %> Test was Completed!</h1>

<% if @test_passage.successed? %>

  <h2>Test passed!</h2>

  <p>
    Your result is <font color="green"><%= @test_passage.success_value %></font> of true answers
  </p>

<% else %>

  <h2>Test was failed</h2>

  <p>
    Your result is <font color="red"><%= @test_passage.success_value %></font> of true answers
  </p>

<% end %>

<%= link_to 'Back, tests_path' %>
